{% block content %}
<div class="container-fluid">
    <h1 class="mt-2 p-4 text-center">Marie Defretin, le développeur qu’il vous faut</h1>
    
    <div class="row d-flex justify-content-center mb-3">
        {% include "post/includAll.html.twig" %}
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <img class="card-img-top photo-moi" src="public/images/photomoi.jpg" alt="Card image">
                    <div class="card-body text-center">
                        <h4 class="card-title">Marie Defretin</h4>
                        <p class="card-text">Developpeuse Web - Php</p>
                        <a href="#" class="btn btn-success">Me contacter</a>
                    </div>
            </div>
        </div> 
        <div class="col-lg-8 col-md-12">
        {% include "project/includAllProjects.html.twig" %} 
        </div> 
    </div>
</div>
{% endblock %}