{% block content %}
<div class="container-fluid">
    <h1 class="mt-2 p-4 text-center">Marie Defretin, le développeur qu’il vous faut</h1>
    
    <div class="row mr-5 ml-5">
        {% include "post/includAll.html.twig" %}
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-12 p-5 ">
            <div class="card">
                <img class="card-img-top photo-moi rounded-circle" src="public/images/photomoi.jpeg" alt="Card image">
                    <div class="card-body text-center">
                        <h4 class="card-title">Marie Defretin</h4>
                        <p class="card-text">Developpeuse Web - Php</p>
                        <a href="#" class="btn btn-success">Me contacter</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 p-5">
            <div class="d-flex flex-column justify-content-around">
                {% include "project/includAllProjects.html.twig" %}
            </div> 
        </div>
        
   </div>
</div>
{% endblock %}