{% include "project/includReseaux.html.twig" %}

<div class="card text-center mt-5"> 
    <ul class="nav nav-tabs d-flex flex-row">
        <div class="card-body text-center">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Wild"><img src="public/images/wild.png" width="150" height="auto"></a>
            </li>    
        </div>
        <div class="card-body">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#OPC"><img src="public/images/openclassrooms.jpg" width="150" height="auto"></a>
            </li>    
        </div>
        <div class="card-body">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ProjPerso"><img src="public/images/Me.png" width="150" height="auto"></a>
            </li>    
        </div>
    </ul>
</div>





           
 