{% include "project/includReseaux.html.twig" %}
<div class="row mt-5"> 
    <div class="col-xl-4 col-md-6"> 
        <div class="card mb-2">
            <img class="card-img-top p-4" src="public/images/wild.png" alt="">
            <div class="card-body">
                <h2 class="card-title text-center">WILD CODE SCOOL</h2>
                <p class="card-text mt-2 text-justify">La Wild Code School propose des formations à temps plein, à temps partiel et en alternance..</p>
                <div class="text-center">
                    <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#myModalWild">Découvrir</button>
                </div> 
            </div>
            <!-- The ModalWild -->
            <div class="modal fade" id="myModalWild" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Lille</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body col-12" >
                            <div class="card">
                                <img class="card-img-top p-4" src="public/images/wild.png" alt="">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Developpement Web et Web Mobile - Back-end</h4>
                                    <p class="card-text mt-3 mb-2">Le développeur web est celui qui crée des applications pour des sites web, 
                                                                utilise des langages front-end (HTML, CSS, Javascript) pour ce que l’utilisateur 
                                                                final va voir, et des langages back-end (Java, PHP, Node JS, Python, Ruby) pour 
                                                                ce que l’utilisateur ne voit pas ou pour ce qui permet de dynamiser le front-end
                                                                (comme l’envoi d’email, gestion de panier ou paiement sur un site e-commerce etc.)</p>
                                </div>
                            </div>         
                        </div>
                        <div class="modal-footer d-flex flex-row">
                            <a href="https://www.wildcodeschool.com/fr-FR/campus/lille" type="button" class="btn btn-secondary mb-2">Wild Code School</a>
                            <a href="https://github.com/marue59"><button type="button" class="btn btn-dark">Voir mes projets</button></a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>       
    </div>
    <div class="col-xl-4 col-md-6"> 
        <div class="card mb-2">
            <img class="card-img-top p-3" src="public/images/openclassrooms.jpg" alt="">
            <div class="card-body">
                <h2 class="card-title text-center">OPEN CLASS ROOMS</h2>
                <p class="card-text mt-2 text-justify">Open Class Rooms propose des formations en distanciel à temps plein, à temps part..</p>
                <div class="text-center">
                    <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#myModalOCR">Découvrir</button>
                </div> 
            </div>
            <!-- The ModalWild -->
            <div class="modal fade" id="myModalOCR" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Distanciel</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body col-12" >
                            <div class="card">
                                <img class="card-img-top p-3" src="public/images/openclassrooms.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Developpement d'application - PHP / Symfony </h4>
                                    <p class="card-text mt-3 mb-2">Le développeur d’application a pour mission de créer des sites dynamiques grâce à un
                                                                langage de programmation. Suivez cette formation en ligne pour obtenir le diplôme “Développeur d’application”* enregistré 
                                                                au RNCP, de niveau II reconnu par l’État (équivalent au niveau Bac+3/4). Ce diplôme est délivré par OpenClassrooms.</p>
                                </div>
                            </div>         
                        </div>
                        <div class="modal-footer d-flex flex-row">
                            <a href="https://openclassrooms.com/fr/" type="submit" class="btn btn-secondary mb-2">Open Class Rooms</a>
                            <a href="https://github.com/marue59"><button type="button" class="btn btn-dark">Voir mes projets</button></a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>       
    </div>
    <div class="col-xl-4 col-md-6"> 
        <div class="card mb-2">
            <img class="card-img-top p-3" src="public/images/Me.png" alt="">
            <div class="card-body">
                <h2 class="card-title text-center">PROJET PERSO</h2>
                <p class="card-text mt-2 text-justify"></p>
                <div class="text-center">
                    <button type="button" class="btn btn-dark mb-2" data-bs-toggle="modal" data-bs-target="#myModalPP">Découvrir</button>
                </div> 
            </div>
            <!-- The ModalWild -->
            <div class="modal fade" id="myModalPP" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Temps personnel</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body col-12" >
                            <div class="card">
                                <img class="card-img-top p-3" src="public/images/Me.png" alt="">
                                <div class="card-body">
                                    <h4 class="m-3">Developpement Web et Web Mobile - Back-end</h4>
                                    <p class="card-text mt-3 mb-2">Le développeur web est celui qui crée des applications pour des sites web, utilise des langages front-end 
                                                            (HTML, CSS, Javascript) pour ce que l’utilisateur final va voir, et des langages back-end (Java, PHP, Node JS, Python, Ruby) pour 
                                                            ce que l’utilisateur ne voit pas ou pour ce qui permet de dynamiser le front-end (comme l’envoi d’email, gestion de panier ou paiement 
                                                            sur un site e-commerce etc.)</p>
                                </div>
                            </div>         
                        </div>
                        <div class="modal-footer d-flex flex-row">
                            <a href="https://mariede.fr/" type="submit" class="btn btn-secondary mb-2">Mon site</a>
                            <a href="https://github.com/marue59"><button type="button" class="btn btn-dark">Voir mes projets</button></a>
                        </div>
                    </div>
                </div>
            </div>       
        </div>       
    </div>
    