{{extends ('layout.html.twig')}}

{% block title %}Mes projets{% endblock %}

{% block content %}
    <div class="">
        <h1>Mes projets</h1>
        <ul class="list-group-item">
            <li class="list-group-item">La Wild</li>
            <li class="list-group-item">Open Class Rooms</li>
            <li class="list-group-item">Mes Projets perso</li>
        </ul>
    </div>
{% endblock %}