{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <div class="container mt-2">
        {% block subtitle %}<h1>Administration</h1>{% endblock %}
        <a href="/admin/show" class="btn btn-success mt-2">Profils en attente de validation</a>
        <a href="/admin/articles" class="btn btn-success mt-2">Articles en attente de validation</a>        
        <a href="#" class="btn btn-success mt-2">Commentaires en attente de validation</a>
    </div>
{% endblock %}
