{% extends 'layout.html.twig' %}

{% block title %} Créer un nouveau post{% endblock %}

{% block content %} 

{% block subtitle %}<h1 class="text-center mt-3">Créer votre post</h1>{% endblock %}
    {% include "post/form.html.twig" %}

{% endblock %}