{% extends 'layout.html.twig' %}

{% block content %} 

{% block subtitle %}<h1 class="text-center mt-3">Modifier votre post</h1>{% endblock %}

    {% include "post/form.html.twig" %}

{% endblock %}