<div class="container ">
    <form class="" method="post" enctype='multipart/form-data'>
    {% if error.errorChamps is not empty %}
        {{ error.errorChamps}} 
    {% endif %}
    {% if error.errorName is not empty %}
        {{ error.errorName}} 
    {% endif %}
    <div class="p-2">
        <div class="form-group">
            <input class="form-control" type="text" name="title" {% if post is defined %} value={{ post.title }} {% endif %} placeholder="Entrez votre titre">
        </div>
        <div class="form-group">
            <input class="form-control mt-3" type="text" name="text" {% if post is defined %} value={{ post.text }} {% endif %} placeholder="Entrez votre texte">
        </div>
        <div class="form-group">
            <input class="form-control mt-3" type="file" name="picture" placeholder="Telecharger votre image">
        </div>
    </div>   
        <div class="d-flex flex-column justify-content-center btn-dark mt-3">
            <button type="submit">Envoyer</button>
        </div>
    </form>
</div>