<div class="row">
    <div class="m-5">
    {% for post in posts %}    
        <div class="card col-12 m-3" style="width: 15rem;">
            <img src="{{ post.picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">{{ post.title }}</h4> 
                <a href="/post/{{ post.id }}" class="btn btn-primary">go</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>