{% for post in posts %} 
<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-2">
        <div class="card">      
            <img src="/public/images/uploads/{{ post.picture }}" class="card-img-top img-post p-2" alt="...">
            <div class="card-body">
                <h3 class="card-title text-center">{{ post.title }}</h3> 
                <p class="card-text text-center">{{ post.text }}</p>
                <p class="card-text text-center"><a href="/post/{{ post.id }}" class="btn btn-success">Découvrir</a></p>
            </div>
        </div>
    </div> 
{% endfor %}
