{% extends 'layout.html.twig' %}

{% block title %}Admin{% endblock %}
{% block content %}
    <div class="container">
        {% block subtitle %}<h1>Admin</h1>{% endblock %}
        
        {% for user in users %} 
            <div class="col-lg-6 col-md-12 p-3">
                <div class="card ">      
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ user.username }}</h4> 
                    </div>
                </div>
            </div> 
        {% endfor %}   
        
        
    </div>
{% endblock %}
