{% extends 'layout.html.twig' %}

{% block title %}Votre compte{% endblock %}
{% block content %}
    <div class="container">
        {% block subtitle %}<h1>Votre compte</h1>{% endblock %}
    </div>

{% endblock %}
