{% extends 'layout.html.twig' %}

{% block title %}Admin{% endblock %}
{% block content %}
    <div class="container">
    {% block subtitle %}<h1 class="text-center">Votre compte</h1>{% endblock %}
    


</div>

{% endblock %}
