<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Festival de films d'auteur en plein air du 5 au 8 août au parc Monceau à Paris.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  
  
  <title>{% block title %}{% endblock %}</title>
</head>


<!-- The scrollable area -->
<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid ">
        <a class="navbar-brand" href="#">
          <img src="public/images/logo.jpg" alt=""width="100" height="100" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/whoIam">Qui suis-je</a>
            </li>

            <li class="nav-item dropdown MesProjets">
              <a class="nav-link dropdown-toggle" href="" id="MesProjets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mes Projets
              </a>
              <div class="dropdown-menu" aria-labelledby="MesProjets">
                <a class="dropdown-item" href="#">La Wild</a>
                <a class="dropdown-item" href="#">Mon stage</a>
                <a class="dropdown-item" href="#">Open Class Room</a>
                <a class="dropdown-item" href="#">Mes Projets perso</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Mes Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">CV</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      <div class="d-flex flex-row justify-content-around mt-5">
        <div class="img-header">
          <img src="public/images/ordi.jpg" width="500" height="500" class="rounded-circle" alt="Responsive image">
        </div>  
        <div class="d-flex flex-column">
          <div><!-- photo de moi -->
            <a class="navbar-brand ml-4" href="#">
              <img src="public/images/photomoi.jpeg" width="200" height="200" alt="Space Logo" class="rounded-circle"/>
            </a>
          </div>
          <!-- Reseaux -->
          <div class="reseaux d-flex flex-row justify-content-lg-around mt-5">
            <div>
              <a href="https://github.com/marue59">
                <img src="public/images/github.jpg" width="150" height="150" alt="Space Logo" class="rounded-circle">
              </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/marie-defretin-dev/">
              <img src="public/images/lk.jpg" width="150" height="150" alt="Space Logo" class="rounded-circle">
            </a>
          </div>
        </div>
    
        <!-- Liste de mes projets -->
    
        <div class="">
          <h1>Mes projets</h1>
            <ul class="list-group-item">
              <li class="list-group-item">La Wild</li>
              <li class="list-group-item">Open Class Rooms</li>
              <li class="list-group-item">Mes Projets perso</li>
            </ul>
        </div>
       
        
      <!-- Parcours pro -->
     
      <!-- cv  -->
      <div></div>
      <!-- Background image -->
    </div>
  </header>

  <div class="main">
    {% block body %}
    {% endblock %}
  </div>
 
</body>
</html>
