{% extends 'layout.html.twig' %}

{% block content %}
{% block subtitle %}<h1 class="text-center mt-3">Créer votre compte</h1>{% endblock %}

<div class="container">
    {% include "security/form_create.html.twig" %}
</div>
{% endblock %}
