{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        {% block subtitle %}<h1>Connexion</h1>{% endblock %}
        {% include "user/form.html.twig" %}
    </div>
{% endblock %}
