{% extends 'layout.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block content %} 

{% block subtitle %}<h1 class="text-center mt-3">Laisser votre commentaire</h1>{% endblock %}
    <div class="container ">
        <form class="" method="post" enctype='multipart/form-data'>
        {% if error.errorChamps is not empty %}
            {{ error.errorChamps}} 
        {% endif %}

        <div class="p-2">
            <div class="form-group">
                <input class="form-control" type="text" name="title" {% if comment is defined %} value={{ post.title }} {% endif %} placeholder="Entrez votre titre">
            </div>
            <div class="form-group">
                <input class="form-control mt-3" type="text" name="text" {% if comment is defined %} value={{ post.text }} {% endif %} placeholder="Entrez votre texte">
            </div>
            <div class="form-group">
                <input class="form-control mt-3" type="date" name="date_creation">
            </div>
        </div>   
            <div class="d-flex flex-column justify-content-center">
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}